<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="/public/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="/add_post">
                        <i class="fas fa-sticky-note"></i>Add Post
                    </a>

                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="/users">
                        <i class="fas fa-users"></i>Users
                    </a>

                </li>

            </ul>
        </nav>
    </div>
</aside>